* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --background-color: #292929;
    --seat-color: #444451;
    --text-color: #777;
    --reserved-color: #fff;
    --selected-color: #f6eb6f;
    --info-background: rgba(0, 0, 0, 0.2);
    --lover-color: #e20808;

    /* Animasyonlar */
    --transition: all .5s ease;

    /* Gölge (box shadow) */
    --box-shadow: 0 3px 8px rgba(255, 255, 255, 0.7);
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
}

.screen {
    margin: 20px 0;
    height: 100px;
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.screen img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.seatRow {
    display: flex;
}

.box {
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 38px;
    gap: 8px;
}

.number {
    color: yellow;
    margin: 5px;
    transition: var(--transition);
}

.order {
    color: rgb(0, 174, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    padding: 5px;
    margin-top: 1px;
}

.lover {
    color: var(--seat-color);
    margin: 5px;
    font-size: 20px;
    transition: var(--transition);
}

.lover.selected {
    color: var(--lover-color);
}

.lover:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.seat {
    color: var(--seat-color);
    margin: 5px;
    font-size: 20px;
    transition: var(--transition);
}

.seat.reserved {
    color: var(--reserved-color);
}

.seat.selected {
    color: var(--selected-color);
}

.seat:not(.reserved):hover {
    cursor: pointer;
    transform: scale(1.3);
}

.info {
    background-color: var(--info-background);
    display: flex;
    padding: 5px 10px;
    color: var(--text-color);
    gap: 20px;
    border-radius: 5px;
}

.info li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoText {
    color: var(--reserved-color);
    display: none;
}

.infoText span {
    color: var(--selected-color);
}

.infoText.open {
    display: block;
}